body {
  font-family: Montserrat, sans-serif;
  background: linear-gradient(to top, #7a93b8, #5a7eb4 30%, #114797);
  background-attachment: fixed;
  margin-top: 25px;
  margin-bottom: 40px;
}

h2{
  font-size:300%;
}

h3{
  font size:200%;
}

#convert{color:#21529C}

.weather-icon{
  font-size:120px;
  color:#f8cc3c;
}

.card .weather-icon{
  font-size:50px;
  color:#204f96;
}

.btn-primary{
  background:#204f96;
border-color:transparent;}

  .btn-secondary{
    background:#F0B000;
    border-color: transparent}

    .gitHub{  
      font-family: 'Courier New', Courier, monospace;
      text-align:center;
      padding-top:30px;
    }
  
    .gitHub a{

      color: #fff;
      text-decoration: none;

    }